.App {
  text-align: center;
}

.CommentsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px 15px;
}

.ProfileHeaderContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* @media (min-width: 380px) {
  .CommentsContainer {
    margin: 0px 5px;
  }
} */

.ContainerServiceTable {
  display: flex;
  justify-content: center;
  
}
